body {
	padding: 0;
	margin: 0;
	background: #ccc;
	overflow-y: hidden;
}

#slider {
	position: absolute;
	top: 0;
	left: 0;
}

text {
	font-family: helvetica;
	font-size: 18px;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
