/* * { outline: 1px solid purple; } */

html, body{ height: 100%; width: 100%; }
body { background: url(../img/grey-bg.png) no-repeat center center cover; background-color: #ddd; margin: 0; overflow: hidden; padding: 0; font-family: helvetica; transition: background .6s ease; }

#ball { position: absolute; z-index: -999; opacity: .1; overflow: hidden; }
#container { height: 100%; width: 100%; opacity: 0; position: absolute; overflow: hidden; }
#wrapper { display: inline-block; width: 60%; margin-left: 20%; position: relative; top: 15%; overflow: hidden; }

aside { float: left; height: 100%; width: 20%; overflow: hidden; position: relative; }
aside header { background-color: rgba(0, 0, 0, 0.5); margin-bottom: 20%; padding: 50px 15px 25px 50px; -webkit-box-sizing: border-box; }
aside header h1 { text-transform: uppercase; color: #666; font-size: 36pt; font-weight: 400; margin: 0; text-align: left; }
aside header h1 span:not(.active) { cursor: pointer; transition: color .4s ease-in-out; }
aside header h1 span:not(.active):hover { color: #999; }
aside header h1 span.active { color: #fff !important; cursor: auto; }
aside header h2 { text-transform: uppercase; color: white; font-size: 12pt; font-weight: 400; margin: 0; text-align: left; }
aside header h3 { text-transform: uppercase; color: #f50; font-size: 12pt; font-weight: 100; margin: 0; text-align: left; }
aside p { text-transform: uppercase; color: white; font-size: 10pt; font-weight: 100; margin: 0; }

/*#score-container { height: 100%; width: 100%; }*/
#scoreboard { background: #4f7320; padding: 20px 20px 10px 20px; position: absolute; left: 50px; top: 30%; -webkit-box-sizing: border-box; width: 75%; }
#scoreboard ul { list-style: none; margin: 0; padding: 20px 0 0 0; font-family: "Oswald"; font-size: 60pt; line-height: 60pt; color: white; }
#scoreboard li { margin-bottom: 20px; }
#scoreboard li span:nth-child(1) { font-size: 60pt; }
#scoreboard li:nth-child(3) { line-height: 24pt; }
#scoreboard li:nth-child(3) span:nth-child(1) { font-size: 24pt; line-height: 24pt; }
#scoreboard li span:nth-child(2) { float: right; }

#scorevis { height: 20%; position: absolute; left: 50px; top: 70%; width: 80%; }
#scorevis svg { width: 100%; height: 100%; }
#scorevis-wins { fill: #f50; }
#scorevis-losses { fill: black; }

#main { float: left; height: 100%; position: relative; width: 80%; }
#main .background { background: url("../img/diamond.png"); background-position-y: 60%; background-position-x: 48%; background-size: contain; background-repeat: no-repeat; height: 95%; width: 100%; position: absolute; z-index: -1; }
#main svg { height: 100%; width: 100%; pointer-events: none; }

#games .game { fill: #f50; opacity: .7; }

.timeline { bottom: 10%; margin: 0 5%; position: absolute; width: 90%; }
.slider { background-color: rgba(223, 223, 223, 0.5); height: 4px; margin: 0 auto; width: 100%; -webkit-appearance: none; border-radius: 2px; }
.slider:focus { outline: none; }
.slider::-webkit-slider-thumb { -webkit-appearance: none; background-color: rgba(255, 255, 255, 0.7); height: 30px; width: 30px; border-radius: 15px; }

text { font-family: helvetica; font-size: 16px; fill: #bebebe; }
.axis path, .axis line { fill: none; stroke: none; shape-rendering: crispEdges; }
