/* * { outline: 1px solid purple; } */

html, body{ height: 100%; width: 100%; }
body { background: #444; margin: 0; overflow-y: hidden; padding: 0; font-family: helvetica; /*transition: all .5s ease;*/ }

#container { height: 100%; width: 100%; }

aside { float: left; height: 100%; width: 25%; overflow: hidden;}
aside header { background-color: black; -webkit-box-sizing: border-box; margin-bottom: 40px; padding: 50px 15px 25px 50px; }
aside header h1 { text-transform: uppercase; color: white; font-size: 54pt; font-weight: 400; margin: 0; }
aside header h2 { text-transform: uppercase; color: white; font-size: 14pt; font-weight: 400; margin: 0; }
aside header h3 { text-transform: uppercase; color: orange; font-size: 14pt; font-weight: 100; margin: 0; }
aside p { text-transform: uppercase; color: white; font-size: 10pt; font-weight: 100; margin: 0; }

#score-container { height: 100%; width: 100%; }
#scoreboard { background: green; webkit-box-sizing: border-box; float: right; /*height: 40%;*/ margin-bottom: 40px; width: 75%;  padding: 15px; }
#scoreboard ul { list-style: none; margin: 0; padding: 20px 0 0 0; font-size: 36pt; color: white; }
#scoreboard li { margin-bottom: 20px; }
#scoreboard li span:nth-child(2) { float: right; }
#scorevis { height: 30%; float: right; margin-left: 10%; width: 80%; }
#scorevis-wins { fill: orange; }
#scorevis-losses { fill: black; }

#main { float: left; height: 100%; position: relative; width: 75%; }
#main svg { height: 100%; width: 100%; }
#main .background { background: url("../img/diamond.png"); background-position-y: 60%; background-position-x: 48%; background-size: contain; background-repeat: no-repeat; height: 95%; width: 100%; position: absolute; z-index: -1; }

.timeline { bottom: 10%; /*height: 20px;*/ margin: 0 5%; position:absolute; width: 90%; }
.slider { background-color: #888; height: 5px; margin: 0 auto; width: 100%; -webkit-appearance: none; }
.slider:focus { outline: none; }
.slider::-webkit-slider-thumb { -webkit-appearance: none; background-color: white; height: 30px; width: 30px; border-radius: 15px; }

text { font-family: helvetica; font-size: 14px; fill: #bebebe; }
.axis path, .axis line { fill: none; stroke: none; shape-rendering: crispEdges; }
